{
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"]
	},
	"parserOptions": {
		"ecmaVersion": 10,
		"sourceType": "module"
	},
	"extends": ["eslint-config-react-app", "prettier"]
}
