/************************************************
    Global reset styles                         *
 ***********************************************/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* { /* stylelint-disable-line */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
  1) Make list item markers appear inside content flow
  2) Reset list item marker type to modify them later
 */
dl,
ol,
ul {
  list-style-position: inside; /* [1] */
  list-style-type: initial; /* [2] */
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
embed,
object,
video {
  max-width: 100%;
}
