.hero {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.navigation {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-constraint);
  padding: 0 var(--horizontal-inset);
  margin-bottom: 2rem;
  z-index: var(--body-z-index);
}

.hero__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
  overflow: hidden;
}

.hero__card__wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: var(--width-constraint);
  text-align: center;
  padding: 10rem var(--horizontal-inset) 6rem;
  border-radius: 0.8rem;

  &::before {
    content: '';
    display: block;
    width: 120vw;
    max-width: 600px;
    height: 120vw;
    max-height: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: var(--darker-background-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--background-z-index);
  }
}

.hero__card__details {
  z-index: var(--body-z-index);

  & h1 {
    font-size: var(--hero-size);
    line-height: 1.12;
    margin-bottom: 1.6rem;
  }

  & time {
    font-size: var(--sm-size);
    font-style: italic;
    text-transform: capitalize;
    color: var(--subtle-text-color);
  }
}

.post__content {
  align-items: stretch;
  text-align: left;
  padding-top: 2rem;

  & h1 {
    font-size: var(--md-size);
    text-align: center;
    margin-bottom: 3.2rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      display: block;
      width: 20%;
      height: 0.3rem;
      background-color: var(--primary-color);
      border-radius: 0.8rem;
      transform: translateX(-50%);
    }
  }

  & p,
  & ul {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 6rem;
  }

  & li {
    padding: 1rem 0;
  }

  /* stylelint-disable declaration-no-important */
  & p > span {
    width: 80vw;
    max-width: 300px !important;
    height: 80vw;
    max-height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.8rem solid var(--darker-background-color);
    position: relative;

    &:first-of-type {
      transform: translateX(-2rem);
    }

    &:nth-child(2) {
      transform: scale(0.9) translateX(4rem);
      margin-bottom: -2rem;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    & a {
      width: 100%;
      height: 100%;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    & img {
      object-fit: cover;
    }
  }
}

@media (--portrait-tablet) {
  .hero {
    padding: 2rem 0;
  }

  .navigation {
    position: static;
    top: auto;
    left: auto;
    width: 95%;
  }

  .hero__card {
    justify-content: center;
    width: 95%;
    min-height: 45vh;
    border-radius: 0.8rem;
  }

  .hero__card__wrapper {
    padding-top: 6rem;
  }

  .post {
    margin-top: -4rem;
    margin-bottom: -8rem;

    & .post__content {
      width: auto;
      align-items: stretch;
    }
  }

  .post__content h1 {
    text-align: left;
    padding: 1rem 2rem;

    &::before {
      top: 0;
      left: 0;
      width: 0.4rem;
      height: 100%;
    }
  }

  .post__content p > span:first-of-type {
    transform: translateX(-60%);
  }

  .post__content p > span:nth-child(2) {
    transform: scale(0.9) translate(60%, -80%);
    margin-bottom: -30%;
  }
}

@media (--medium-viewport) {
  .post__content p > span {
    /* max-width: 450px !important;
    max-height: 450px; */
  }
}

@supports (padding: max(0px)) {
  @media (--portrait-tablet) {
    .hero__card__wrapper {
      /* 2.5vw accounts for the 95% wrapper width */
      --best-fit-inset: max(
        calc(2.5vw + var(--horizontal-inset)),
        env(safe-area-inset-left)
      );

      padding-left: calc(var(--best-fit-inset) - 2.5vw);
      padding-right: calc(var(--best-fit-inset) - 2.5vw);
    }

    .post {
      padding-left: max(var(--horizontal-inset), env(safe-area-inset-left));
      padding-right: max(var(--horizontal-inset), env(safe-area-inset-right));
    }
  }
}
