:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green: #329f87;
  --color-sand: #f7f1ea;
  --color-grey: #93918f;

  --color-background: var(--color-sand);
  --color-accent: var(--color-green);
  --color-text: var(--color-black);
  --color-text-subtle: var(--color-grey);

  --font-family-display: 'Greycliff CF';
  --font-family-base: 'Greycliff CF';

  --font-size-xs: 1.2rem;
  --font-size-sm: 1.44rem;
  --font-size-base: 1.728rem;
  --font-size-md: 2.074rem;
  --font-size-lg: 2.986rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-demi-bold: 600;

  --z-index-site-nav-links: 5;
  --z-index-site-nav: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  /* stylelint-disable-line */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
    1) Make list item markers appear inside content flow
  */
dl,
ol,
ul {
  list-style-position: inside; /* [1] */
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
embed,
object,
video {
  max-width: 100%;
}

html {
  box-sizing: border-box; /* [1] */
  width: 100%;
  height: auto;
  min-height: 100vh; /* [2] */
  overflow-x: hidden; /* [3] */
  font-family: sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-size-adjust: 100%; /* [4] */
}

/* stylelint-disable selector-max-universal */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
    1) Occupy all available vertical space
    2) Fix viewport size bump on mobile safari
    3) Emphasize legibility over rendering speed and geometric precision
    4) Smooth the font on the level of the pixel
    5) Render text with grayscale antialiasing
  */
body {
  width: 100%;
  min-height: 100vh; /* [1] */
  min-height: -webkit-fill-available; /* [2] */
  height: auto;
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.6;
  color: var(--color-text);
  text-rendering: optimizeLegibility; /* [3] */
  -webkit-font-smoothing: antialiased; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [5] */
  font-smoothing: antialiased; /* stylelint-disable-line */
  background-color: var(--color-background);
  overflow: hidden;
}

body.has-custom-font {
  font-family: var(--font-family-base);
}

[hidden] {
  display: none !important; /* stylelint-disable-line */
}

[disabled] {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

b {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

p {
  max-width: 55ch;
  margin-block-end: 2.4rem;
}

small {
  font-size: var(--font-size-sm);
}

address {
  font-style: inherit;
}

.icon {
  inline-size: 2rem;
  block-size: 2rem;
  transition: stroke 0.3s;
}

.icon--lg {
  inline-size: 3rem;
  block-size: 3rem;
}

.icon--offset-fix {
  margin-block-start: -5px;
}

.icon--offset-size {
  inline-size: 2.2rem;
  block-size: 2.2rem;
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
