@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-RegularOblique.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-RegularOblique.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-RegularOblique.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Medium.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-MediumOblique.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-MediumOblique.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-MediumOblique.woff') format('woff');
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBold.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBoldOblique.eot'); /* IE9 Compat Modes */
  src: url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://fsvdr-fonts.sfo2.cdn.digitaloceanspaces.com/greycliff-cf-v2.0/GreycliffCF-DemiBoldOblique.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}