.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  & h1 {
    font-size: var(--text-base-size);
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
  }

  & p {
    font-size: var(--sm-size);
    color: var(--subtle-text-color);
    margin-bottom: 0.8rem;
  }
}

@media (--portrait-tablet) {
  .container {
    width: auto;
    margin: 0;
    margin-left: 1.6rem;

    & h1 {
      font-size: var(--sm-size);
    }

    & p {
      font-size: (--xs-size);
    }
  }
}
