/************************************************
    Styling for the block-level elements        *
 ***********************************************/

/**
 *
 *  Text elements
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: var(--bold-weight);
  line-height: var(--heading-line-height);
  color: var(--header-color);
  margin-bottom: var(--xs-space);
}

h1 {
  font-size: var(--xxl-size);
}

h2 {
  font-size: var(--xl-size);
}

h3 {
  font-size: var(--lg-size);
}

h4 {
  font-size: var(--md-size);
}

h5 {
  font-size: var(--sm-size);
}

h6 {
  font-size: var(--xs-size);
}

p {
  font-weight: var(--regular-weight);
  line-height: var(--body-line-height);
  max-width: 80ch;
}

a,
a:visited {
  text-decoration: none;
}

button {
  border: 0;
  background-color: initial;
}
