/************************************************
    Styling for the inline-level elements       *
 ***********************************************/

/**
  *
  *  Text elements
  *
  */

small {
  font-size: var(--xs-size);
}

a,
a:visited {
  color: inherit;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.64;
  }
}
