.o-logo {
  font-family: var(--header-font);
  font-size: var(--text-base-size);
  font-weight: var(--bold-weight);
  color: var(--black);

  &:visited {
    color: var(--black);
  }
}

.o-contact-btn {
  font-size: var(--sm-size);
  font-weight: var(--bold-weight);
  background-color: var(--accent-color);
  color: var(--white);
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;

  &:visited {
    color: var(--white);
  }
}

.o-subtitle {
  font-size: var(--xs-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.16rem;

  &.-accent {
    color: var(--accent-color);
  }
}

.o-lead-paragraph {
  line-height: 1.4;
  letter-spacing: 0.06rem;
}

.o-cta {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4rem 2rem;

  & .o-cta__title {
    font-family: var(--header-font);
    font-size: var(--text-base-size);
    color: var(--black);
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }

  & .o-cta__description {
    font-size: var(--sm-size);
    color: var(--subtle-text-color);
  }
}

@media screen and (min-width: 768px) {
  .o-cta {
    width: auto;
    margin: 0;
    margin-left: 1.6rem;
  }
}
