.o-subtitle {
  font-size: var(--xs-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.16rem;

  &.-accent {
    color: var(--accent-color);
  }
}

.o-lead-paragraph {
  line-height: 1.4;
  letter-spacing: 0.06rem;
}
