/************************************************
    Flexbox based grid object                   *
 ***********************************************/

.o-flex,
.o-flex--v {
  /* Container defaults */
  --wrap: nowrap;
  --justify: flex-start;
  --items: flex-start;
  --content: flex-start;
  --gutter: 0.5em;

  display: flex;
  flex-flow: var(--dir) var(--wrap);
  justify-content: var(--justify);
  align-items: var(--items);
  align-content: var(--content);

  /* Wraping modifiers */

  &.-nowrap {
    --wrap: nowrap;
  }

  &.-wrap {
    --wrap: wrap;
  }

  &.-wrap-rev {
    --wrap: wrap-reverse;
  }

  /* Justification modifiers */

  &.-justify-start {
    --justify: flex-start;
  }

  &.-justify-end {
    --justify: flex-end;
  }

  &.-justify-center {
    --justify: center;
  }

  &.-justify-between {
    --justify: space-between;
  }

  &.-justify-around {
    --justify: space-around;
  }

  &.-justify-evenly {
    --justify: space-evenly;
  }

  /* Items alignment modifiers */
  &.-items-start {
    --items: flex-start;
  }

  &.-items-end {
    --items: flex-end;
  }

  &.-items-center {
    --items: center;
  }

  &.-items-stretch {
    --items: stretch;
  }

  &.-items-baseline {
    --items: baseline;
  }

  /* Content alignment modifiers */
  &.-content-start {
    --content: flex-start;
  }

  &.-content-end {
    --content: flex-end;
  }

  &.-content-center {
    --content: center;
  }

  &.-content-stretch {
    --content: stretch;
  }

  &.-content-between {
    --content: space-between;
  }

  &.-content-around {
    --content: space-around;
  }
}

/**
 *
 *  Flex Item
 *
 */

.o-flex__item,
.o-flex__item--fill {
  /* Item defaults */
  --grow: 0;
  --shrink: 1;
  --basis: auto;
  --self: auto;

  order: 0;
  flex: var(--grow) var(--shrink) var(--basis);
  align-self: var(--self);

  /* Self alignment modifiers */

  &.-self-auto {
    --self: auto;
  }

  &.-self-start {
    --self: flex-start;
  }

  &.-self-end {
    --self: flex-end;
  }

  &.-self-center {
    --self: center;
  }

  &.-self-stretch {
    --self: stretch;
  }

  &.-self-baseline {
    --self: baseline;
  }
}

.o-flex__item--fill {
  --grow: 1;
  --basis: 0;
}

/**
 *
 *  Flex Container
 *
 */

.o-flex {
  --dir: row;

  &.-reverse {
    --dir: column;
  }

  /* Inner gutters (applied by children) */
  &.-gutters {
    & .o-flex__item,
    & .o-flex__item--fill {
      padding-right: var(--gutter);
    }
  }

  /* Outer gutters (applied by parent) */
  &.-gutters-outer {
    padding: var(--gutter);
    padding-right: 0;

    & .o-flex__item,
    & .o-flex__item--fill {
      padding-right: var(--gutter);
    }
  }
}

.o-flex--v {
  --dir: column;

  &.-reverse {
    --dir: row;
  }

  /* Inner gutters (applied by children) */
  &.-gutters {
    & .o-flex__item,
    & .o-flex__item--fill {
      padding-bottom: var(--gutter);
    }
  }

  /* Outer gutters (applied by parent) */
  &.-gutters-outer {
    padding: var(--gutter);
    padding-bottom: 0;

    & .o-flex__item,
    & .o-flex__item--fill {
      padding-bottom: var(--gutter);
    }
  }
}

/* Remove gutter on last child */
.o-flex.-gutters .o-flex__item:last-of-type,
.o-flex.-gutters .o-flex__item--fill:last-of-type {
  padding-right: 0;
}

.o-flex--v.-gutters .o-flex__item:last-of-type,
.o-flex--v.-gutters .o-flex__item--fill:last-of-type {
  padding-bottom: 0;
}
