.o-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
}

.o-section__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: var(--width-constraint);
  text-align: center;
  padding: 0 var(--horizontal-inset);

  & .o-section-title {
    font-size: var(--lg-size);
  }

  & .o-section-copy {
    color: var(--subtle-text-color);
  }
}

@media (--portrait-tablet) {
  .o-section {
    padding: 8rem 0;
  }

  .o-section__wrapper {
    width: 95%;
  }
}

@supports (padding: max(0px)) {
  @media (--portrait-tablet) {
    .section__wrapper {
      /* 2.5vw accounts for the 95% wrapper width */
      --best-fit-inset: max(
        calc(2.5vw + var(--horizontal-inset)),
        env(safe-area-inset-left)
      );

      padding-left: calc(var(--best-fit-inset) - 2.5vw);
      padding-right: calc(var(--best-fit-inset) - 2.5vw);
    }
  }
}
