.experience {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30rem 0 10rem;
  background-color: var(--white);
}

.experience__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  padding: 0 var(--horizontal-inset);
  max-width: var(--width-constraint);
}

.experience__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 2.4rem;

  & .experience__card__decorator {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > div {
      width: 100%;
      max-width: 6rem;
    }
  }

  & .experience__card__details {
    flex: 3 1 0;
    padding-left: 1rem;
  }

  & h2 {
    font-size: var(--text-base-size);
  }

  & p {
    font-size: var(--sm-size);
    color: var(--subtle-text-color);
  }
}

.section {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 8rem 0;

  & > header {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: var(--width-constraint);
    text-align: center;
    padding: 0 var(--horizontal-inset);
    margin-bottom: 6rem;
    z-index: var(--body-z-index);

    & h2 {
      font-size: var(--lg-size);
    }

    & p {
      color: var(--subtle-text-color);
    }
  }
}

.blog__section {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 25vw;
    left: 0;
    display: block;
    width: 80vw;
    max-width: 800px;
    height: 80vw;
    max-height: 800px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darker-background-color);
    z-index: var(--background-z-index);
  }
}

.posts__list {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: var(--width-constraint);
  padding: 0 var(--horizontal-inset);
}

.contact__section::before {
  content: '';
  position: absolute;
  top: 4rem;
  left: 50%;
  display: block;
  width: 100vw;
  max-width: 600px;
  height: 100vw;
  max-height: 600px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--darker-background-color);
  z-index: var(--background-z-index);
}

@media (--portrait-tablet) {
  .experience {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .experience__wrapper {
    flex-flow: row wrap;
  }

  .experience__card {
    width: 48%;
    align-items: flex-start;

    &:nth-child(odd) {
      margin-right: 4%;
    }

    & h2 {
      font-size: var(--sm-size);
    }
  }

  .posts__list {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .contact__section::before {
    top: 40%;
    right: -40%;
    left: auto;
  }
}

@media (--medium-viewport) {
  .posts__list {
    align-items: stretch;
  }
}
