.experience {
  position: relative;
  padding-top: 30rem;
  background-color: var(--white);
}

.experience__wrapper {
  text-align: left;
}

.experience__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 2.4rem;

  & .experience__card__decorator {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > div {
      width: 100%;
      max-width: 6rem;
    }
  }

  & .experience__card__details {
    flex: 3 1 0;
    padding-left: 1rem;
  }

  & h2 {
    font-size: var(--text-base-size);
  }

  & p {
    font-size: var(--sm-size);
    color: var(--subtle-text-color);
  }
}

.blog {
  width: 100%;
}

.blog__post__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-top: 6rem;
}

.blog__post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: left;
  padding: 2.4rem 1.6rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  background-color: var(--grey);

  & h3 {
    font-size: var(--md-size);
    margin-bottom: 0;
  }

  & p {
    font-size: var(--sm-size);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  & a {
    display: block;
    width: 100%;
    font-size: var(--sm-size);
    font-weight: var(--bold-weight);
    color: var(--primary-color);

    &:last-of-type {
      text-align: right;
    }
  }
}

@media (--portrait-tablet) {
  .experience {
    padding: 4rem 0;
  }

  .experience__wrapper {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .experience__card {
    width: 48%;
    align-items: flex-start;

    &:nth-child(odd) {
      margin-right: 4%;
    }

    & h2 {
      font-size: var(--sm-size);
    }
  }

  .blog {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }

  .blog__post__list {
    flex-flow: row wrap;
    align-items: stretch;
  }

  .blog__post {
    width: 49%;
    border-radius: 0.8rem;

    &:nth-child(odd) {
      padding-left: var(--horizontal-inset);
      margin-right: 2%;
    }

    &:nth-child(even) {
      padding-right: var(--horizontal-inset);
    }

    & h3 {
      font-size: var(--text-base-size);
    }
  }
}

@media (--medium-viewport) {
  .blog__post {
    width: calc((100% / 3) - 1rem);

    &:not(:nth-child(3n)) {
      margin-right: 1.5rem;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@supports (padding: max(0px)) {
  @media (--portrait-tablet) {
    .blog__post:nth-child(odd) {
      /* 2.5vw accounts for the 95% wrapper width */
      --best-fit-inset: max(
        calc(2.5vw + var(--horizontal-inset)),
        env(safe-area-inset-left)
      );

      padding-left: calc(var(--best-fit-inset) - 2.5vw);
    }

    .blog__post:nth-child(even) {
      /* 2.5vw accounts for the 95% wrapper width */
      --best-fit-inset: max(
        calc(2.5vw + var(--horizontal-inset)),
        env(safe-area-inset-left)
      );

      padding-right: calc(var(--best-fit-inset) - 2.5vw);
    }
  }
}
