.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  max-width: 500px;

  & header {
    margin-bottom: 2rem;
  }

  & h3 {
    font-size: var(--text-base-size);
    margin-bottom: 0.4rem;
  }

  & time {
    font-size: var(--sm-size);
    color: var(--subtle-text-color);
  }

  & > a {
    font-size: var(--sm-size);
    font-weight: var(--bold-weight);
    color: var(--primary-color);
  }
}

@media (--portrait-tablet) {
  .container {
    width: calc(50% - 2rem);

    &:nth-child(n) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media (--medium-viewport) {
  .container {
    width: calc((100% / 3 ) - 2rem);
  }
}
