/************************************************
    Global functional and brand colors          *
 ***********************************************/

:root {
  /* Generic */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Brand */
  --primary-color: hsl(208.8, 100%, 64.5%);
  --accent-color: hsl(158.3, 83.3%, 39.8%);
  --background-color: hsl(214, 100%, 94%);
  --lighter-background-color: hsl(213, 100%, 98%);
  --darker-background-color: hsl(213, 100%, 90%);

  /* Text */
  --body-text-color: hsl(0, 0%, 35%);
  --header-color: var(--black);
  --subtle-text-color: hsl(0, 0%, 42%);

  /* Form controls */
  --field-background-color: hsl(180, 4%, 95%);
  --darker-field-background-color: hsl(180, 4%, 90%);

  /* Functional */
  --primary-shadow-color: hsl(208.8, 53.3%, 89.8%);
  --darker-primary-shadow-color: hsl(208.8, 43.3%, 79.8%);
  --accent-shadow-color: hsl(158.3, 63.3%, 89.8%);
  --darker-accent-shadow-color: hsl(158.3, 43.3%, 79.8%);
}
