/************************************************
    Global spacing system                       *
 ***********************************************/

:root {
  --base-space: 2em;
  --xs-space: calc(var(--base-space) / 3);
  --sm-space: calc(var(--base-space) / 2);
  --md-space: --base-space;
  --lg-space: calc(var(--base-space) * 2);
  --xl-space: calc(var(--base-space) * 3);

  /* Global constraints */
  --width-constraint: 140rem;
  --horizontal-inset: 1.6rem;
}

@media (--portrait-tablet) {
  :root {
    --horizontal-inset: 2rem;
  }
}

@supports (padding: max(0px)) {
  :root {
    --horizontal-inset: max(1.6rem, env(safe-area-inset-left));
  }

  @media (--portrait-tablet) {
    :root {
      --horizontal-inset: max(2rem, env(safe-area-inset-left));
    }
  }
}
