/************************************************
    Global z-index system                       *
 ***********************************************/

:root {
  --background-z-index: 0;
  --body-z-index: 5;
  --cta-z-index: 10;
}
