.footer {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__wrapper {
  padding-bottom: var(--vertical-inset);
  text-align: left;

  & span {
    font-size: var(--sm-size);
  }

  & small {
    width: 100%;
    text-align: center;
    font-size: var(--xs-size);
    color: var(--subtle-text-color);
    margin-bottom: 0.8rem;
  }
}

.master {
  width: 100%;
  margin-bottom: 3.2rem;

  & h3 {
    font-size: var(--text-base-size);
  }

  & p {
    font-size: var(--sm-size);
  }
}

.contact {
  width: 100%;
  margin-bottom: 3.2rem;

  & a {
    display: block;
    margin-bottom: 1.6rem;
  }

  & h4 {
    font-size: var(--sm-size);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .master,
  .contact {
    width: 50%;
  }

  .contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    text-align: right;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container small {
    margin-top: 2rem;
  }
}

@supports (padding: max(0px)) {
  @media screen and (min-width: 768px) {
    .footer__wrapper {
      /* 2.5vw accounts for the 95% wrapper width */
      --best-fit-inset: max(
        calc(2.5vw + var(--horizontal-inset)),
        env(safe-area-inset-left)
      );

      padding-left: calc(var(--best-fit-inset) - 2.5vw);
      padding-right: calc(var(--best-fit-inset) - 2.5vw);
    }
  }
}
